@import "src/assets/common/scss/index";

.mod-profitList {
  background: url(./img/bj.jpg);
  height: 742px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    align-self: left;
    margin-top: 50px;
    font-size: 25px;
    margin-left: 100%*1/8;
  }
  .commit{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%*3/4;
    justify-content: left;
    height: 300px;
    padding: 10px;
    #commitItem{
       font-size: 20px;
       padding: 5px;
      }
  }
  .line{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    width: 100%*3/4;
    background-color: black;
  }
  .addNew{
    display: flex;
    flex-direction: column;
    width: 100%*3/4;
   
    .time{
      width: 100%;
      margin-top: 15px;
    }

    .action{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 15px;
      width:100%;

     
    }
    
  }
  #add_value{
    flex: 1;
    height: 40px;
    font-size: 15px;
  }
  .itemContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .address{
    width: 400px;
  }
  .newAction{
    font-size: 15px;
    line-height: 40px;
    margin-right: 10px;
  }
  
  .delBtn{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    font-size: 12px;
  }

  .addBtn{
    align-self: left;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    font-size: 15px;
    margin-top: 15px;
    &.a{
      margin-top: 0px;
    }
  }
  .aaaa{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
}